html, body {
    background-color: #FFF;
}

body {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color: #313131;
}

div.separator {
    clear: both;
    height: 10px;
}

/*EVENT PAGE*/


/*PARTICIPANTS TABLE*/

table#participants {
    width: 100%;
}

table#participants td,
table#participants th {
    border: 1px solid #18557F;
    padding: 6px;
}

table#participants th {
    font-weight: bold;
    text-align: center;
    background-color: #ABC6DD;
    color: #18557F;
    width: 15%;
}

table#participants td {
    vertical-align: top;
}

table#participants th.declaration {
    width: 55%;
}

div#page-wrapper,
div#page-footer-wrapper {
    padding: 10px 10px 10px 10px;
    width: 100%;
}

div#page-content,
div#page-footer  {
    min-width: 800px;
    max-width: 1150px;
    margin: 0 auto;
}

div#page-footer-wrapper {
    border-top: 1px solid #18557F;;
    padding: 6px 10px 10px 10px;
    margin-top: 16px;
}

div#page-footer div#copyrights  {
    font-size: 12px;
    color: #18557F;
}

div#page-content h1,
div#page-content h2
{
    color: #18557F;
    font: 22px/30px Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: -0.5px;
    padding: 8px 0;
    text-shadow: 1px 1px silver;
}

div#page-content h2 {
    font: 16px Verdana,Arial,Helvetica,sans-serif;
    text-shadow: 0px 0px silver;
    margin-bottom: 6px;
}

div#page-content p {
    font: 14px/1.2 Arial,Verdana,Helvetica,sans-serif;
    margin-bottom: 12px;
}

div#gauge {
    width:100%;
    height:32px;
    background:silver;
    margin: 0 0 20px 0;
}

div#gauge div#progress {
    background: #006400;
    height:32px;
    line-height: 32px;
    padding-left: 23px;
    vertical-align: middle;
    width: 100px;
}

p#progress-info {
    color: #006400;
    font-size: 22px !important;
    font-weight: bold !important;
    margin-top: 23px !important;
    margin-bottom: 3px !important;
}

