{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block content %}

    <h1>{{ title | trans() }}</h1>

    <p>Integer tortor leo, facilisis at dictum placerat, molestie in justo. Pellentesque laoreet interdum quam, nec rhoncus arcu accumsan ut. Aenean auctor dictum accumsan. Vivamus vel purus a erat congue egestas. Proin ligula quam, sodales id scelerisque eget, luctus bibendum libero. Duis a nunc id nunc dictum sodales. Aliquam tincidunt dapibus sapien imperdiet dictum. Praesent aliquet dui et ligula pharetra fermentum. Etiam vitae purus velit. Etiam facilisis, massa ac ultricies cursus, orci mi mattis velit, et feugiat orci enim at justo. Sed non augue mi, eu mollis elit. Pellentesque quis enim nisl. In vitae elit at diam laoreet egestas adipiscing et nunc. Nulla laoreet pulvinar purus ac posuere.</p>

{% endblock %}