{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}

    <h1>{{ name }}</h1>

    <h2>{{ description | trans() }}</h2>

    <p>Obecnie nie ma żadnych aktywnych zdarzeń z Twoim udziałem.</p>

{% endblock %}