{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}

    <h1>{{ title | trans() }}</h1>

    <p>Nunc quis tristique enim. Sed est ligula, gravida eget interdum id, pharetra eu orci. In molestie, enim at viverra lacinia, est neque vestibulum augue, vel commodo enim leo non sapien. Sed euismod luctus mattis. Ut tincidunt nibh a ipsum fermentum non fermentum erat placerat. Integer quis velit elit. Maecenas sed dapibus dolor. Sed vehicula ultricies lectus. Morbi non orci libero, id dapibus metus. Cras a massa enim, et auctor leo.</p>

{% endblock %}